<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add A New Location</h1>
    <form action="/rivers" method="POST">
    <input type="text" name="name" placeholder="Name"/>
    <input type="text" name="image" placeholder="Image Link"/>
    <textarea type="text" name="description"> Description
    </textarea>
    <input type="text" name="fish_species" placeholder="Fish Species">
    <input type="text" name="hatches" placeholder="Hatches">
    <label>Stocked?</label>
    <input type="checkbox" name="stocked">
    <input type="text" name="stocking_number" placeholder="Quantity of Stocked Fish">
    <input type="text" name="other_info" placeholder="Other information">
    <input type="submit">

    </form>
</body>
</html>