<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><%=river.name%></h1>
    <a href="/rivers/<%=river.id%>/edit"><button>Edit</button></a>
    <form action="/rivers/<%=river.id; %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
    </form>
</body>
</html>