/* * { border: 1px solid black; } */

header{
    color: #007bff;
    font-size: 30px;
}

ul {
   list-style-type: none;
}

.rivers{ 
    
    border-radius: 7px;
    padding-top: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #5E5C6C;
}

.rivers:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -px 9px 40px -12px rgba(0, 0, 0, 0.75)
    
}

.float-right {
    color:white;
}


img {
    border: 5px solid black;
    height: 400px;
    width: 300px;
}

.title{
    padding:30px;
}

.logout {
    all: unset;
}

a {
    all: unset; 
}

.logout:hover{
    text-decoration: underline;
}
